
{% extends 'templates/base.html' %}

{% block page_styles %}
<link rel="stylesheet/less" type="text/css" href="static/css/sub-assembly.less" />
{% endblock %}

{% block page %}
<div class="body sub-assembly-page">
  <div class="row sa-thead">
    <div>
      item
    </div>
    <div>
      25 lb bins
    </div>
  </div>
  <div class="item-list">
    <div class="row item-row completed">
      <div>
        red fillets
      </div>
      <div>
        20 / 20
      </div>
    </div>
    <div class="row item-row">
      <div>
        red fillets
      </div>
      <div>
        20 / 20
      </div>
    </div>
    <div class="row item-row">
      <div>
        red fillets
      </div>
      <div>
        20 / 20
      </div>
    </div>
    <div class="row item-row">
      <div>
        red fillets
      </div>
      <div>
        20 / 20
      </div>
    </div>
  </div>

</div>
{% endblock %}