{% extends 'templates/base.html' %}

{% block page_styles %}
<link rel="stylesheet/less" type="text/css" href="static/css/trimming.less" />
{% endblock %}

{% block page %}
<img src="evaqua_farms_logo.svg" />
<div class="body packaging-page">
  <div class="row sa-thead">
    <div class="trimmer_id">
      trimmer id yoyoyo
    </div>
    <div class="bins">
      # bins
    </div>
    <div class="trimmer_id">
      trimmer id
    </div>
    <div class="bins">
      # bins
    </div>
  </div>
  <div class="section-1">
    <div class="side">
      <div class="row">
        <div class="trimmer_id">
          e25
        </div>
        <div class="bins">
          14
        </div>
      </div>
      
    </div>

  </div>
  <div class="section-2">
    <div class="box">
      <div class="label">
        pb
      </div>
      <div class="number">
        34
      </div>
    </div>
    <div class="box">
      34
    </div>
    <div class="box">
      34
    </div>
    <div class="box">
      34
    </div>
    <div class="box">
      34
    </div>
    <div class="box">
      34
    </div>
    <div class="box">
      34
    </div>

  </div>
  <div class="section-3">
    <div class="box-1">
      <div class="label">
        trimmed
      </div>
      <div class="number-and-unit">
        <div class="number">
          184
        </div>
        <div class="unit">
          bins
        </div>
      </div>
    </div>
    <div class="box-2">
      <div class="label">
        average
      </div>
      <div class="number-and-unit">
        <div class="number">
          184
        </div>
        <div class="unit">
          bins
        </div>
      </div>
    </div>
    <div class="box-3">
      <div class="label">
        record
      </div>
      <div class="number-and-unit">
        <div class="number">
          184
        </div>
        <div class="unit">
          bins
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}